{% load static %}
{% include 'reusable/head.html' %}
{% block content %}
    <div class="mx-auto col-10 col-md-8 col-lg-6" style="margin-top: 30px;">
        <table class="table table-hover table-bordered" style="margin-top: 10px;">
            <tr>
                <td><b>teste</b></td>
            </tr>
        </table>
        <form method="POST" action="" class="d-flex flex-column">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="colFormLabel" style="margin-bottom: 10px;">
                    <label for="exampleInputEmail1">{{field.label}}</label>
                    <div class="fields">{{ field }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">CONFIRMAR</button>
        </form>
        <a href="{% url 'index' %}"><button type="submit" class="btn btn-primary" style="margin-top: 30px;">Voltar</button></a>
    </div>  
{% endblock %}