<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gestao</title>
</head>
<body>
    <form action="{% url 'adicionar' %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="{{ field.id_for_label }}" style="color:#D9D9D9;">{{field.label}}</label>
                <div class="fields">{{ field }}</div>
            </div>
        {% endfor %}
        <button type="submit">CONFIRMAR</button>
    </form>
</body>
</html>