{% load static %}
{% include 'reusable/head.html' %}
{% block content %}
    <h1 class="text-center">Gestão de Produtos</h1>
    <div id="mensagemView"></div>
    <br>
    <br>
    <div id="produtos">
        <a href="{% url 'adicionar' %}"><button type="submit" class="btn btn-primary">Adicionar</button></a>
        <table class="table table-hover table-bordered" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>PRODUTO</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in data %}
                    <tr>
                        <td><b>{{  produto.produto }}</b> | {{  produto.descricao }}
                            <a href="{% url 'detalhes' produto.id %}" method="POST"><button type="submit" class="btn btn-primary" style="float: right;">Detalhes</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1>Filtros: </h1>
        <a href="{% url 'semestoque' %}"><button type="submit" class="btn btn-primary">Sem Estoque</button></a>
        <br>
        <br>
        <p></p>
    </div>
{% endblock %}