<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>LISTA DE PRODUTOS ----------------</p>
    <a href="{% url 'adicionar' %}"><button type="submit">Adicionar</button></a>
    {% for produto in data %}
        <p>{{  produto.produto }} | {{  produto.descricao }}</p>
        <a href="{% url 'deletar' produto.id %}" method="POST"><button type="submit">DELETAR</button></a>
        <a href="{% url 'atualizar' produto.id %}"><button type="submit">ATUALIZAR</button></a>
    {% endfor %}
</body>
</html>