{% load static %}
{% include 'reusable/head.html' %}
{% block content %}
    <h1 class="text-center">Produtos sem estoque</h1>
    <div id="mensagemView"></div>
    <br>
    <br>
    <div id="produtos">
        <table class="table table-hover table-bordered" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>PRODUTO</th>
                </tr>
            </thead>
            <tbody>
                {% include 'utils/foraDoEstoque.html' %}
            </tbody>
        </table>
        <a href="{% url 'index' %}"><button type="submit" class="btn btn-primary">Voltar</button></a>
    </div>

{% endblock %}